

.tamano{
  width: 99%;
  margin-right: 8%;
  margin-top: 10px;

}

.posicion{
  margin-left: 15%;
  z-index: -1;
}

.cardPosicion{
  margin-left: 2%;
  margin-top: 10px;
}

.margen{
  margin-left: 10%;
}

