<app-nav></app-nav>


<div class="posicion ">

  <button class="btn tamano"  data-bs-toggle="modal" data-bs-target="#agregarDispositivo" >Agregar Dispositivo</button>
  <div class="row">
    <div class="col" *ngFor="let item of modeloscreados">
      <div class=" card cardPosicion" style="width: 18rem;" >
        <img src="{{item.imagen}}"
             class="card-img-top" width="100%" height="100%">
        <div class="card-body">
          <h5 class="card-title centrar"><b>Modelo del dispositivo: </b> {{item.modelo}}</h5>
          <label class="card-title centrar"><b>Tipo de dispositivo:</b> {{item.tipo}}</label>
          <label class="card-text centrar"><b>Marca del Dispositivo:</b> {{item.marca}}</label>
          <label class="card-text centrar"><b>Consumo Electrico :</b>{{item.consumoElectrico}}</label>
        </div>
        <div class="card-footer">
          <button class="btn btn-dark margen" data-bs-toggle="modal" data-bs-target="#editarDispositivo"
                  (click)="obtenerInformacionItem(item)">Editar</button>
          <button class="btn  margen" data-bs-toggle="modal" data-bs-target="#eliminarDispositivo"
                  (click)="obtenerInformacionItem(item)">Eliminar</button>
        </div>
      </div>
  </div>
  </div>
</div>

<div class="modal fade" id="agregarDispositivo" tabindex="-1" aria-labelledby="agregarDispositivoDispositivoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Nuevo Dispositvo:</h4>
      </div>
      <div class="modal-body">

        <label>URL-DE-IMAGEN</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control"required="" name="imagen" #imagen="ngModel" [(ngModel)]="dipositivoModelo.imagen">
        </div>

        <label>Modelo Dispositivo:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control"required="" name="modelo" #modelo="ngModel" [(ngModel)]="dipositivoModelo.modelo">
        </div>

        <label>Marca del Dispositivo</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control"required="" name="marca" #marca="ngModel" [(ngModel)]="dipositivoModelo.marca">
        </div>

        <label>Cosumo Electrico: </label>
        <div class="input-group mb-3">
          <span class="input-group-text">Kw</span>
          <input type="number" class="form-control" required="" name="consumo" #consumo="ngModel" [(ngModel)]="dipositivoModelo.consumoElectrico">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="crearDispositivo(dipositivoModelo)">ACEPTAR</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editarDispositivo" tabindex="-1" aria-labelledby="editarDispositivoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">{{oldDispositivocreado.modelo}}</div>
      <div class="modal-body">

        <label>URL-DE-IMAGEN</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control"required="" name="imagen1" #imagen="ngModel" [(ngModel)]="oldDispositivocreado.imagen">
        </div>

        <label>Marca del Dispositivo</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control"required="" name="marca1" #marca="ngModel" [(ngModel)]="oldDispositivocreado.marca">
        </div>

        <label>Cosumo Electrico: </label>
        <div class="input-group mb-3">
          <span class="input-group-text">Kw</span>
          <input type="number" class="form-control" required="" name="consumo1" #consumo="ngModel" [(ngModel)]="oldDispositivocreado.consumoElectrico">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="editarDispositivo(oldDispositivocreado)">ACEPTAR</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eliminarDispositivo" tabindex="-1" aria-labelledby="agregarDispositivoDispositivoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Esta seguro que desea eliminar el dispositivo {{oldDispositivocreado.modelo}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminarDispositivo(oldDispositivocreado)">ACEPTAR</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>
