

.tamano{
  width: 20%;
  margin-left: 90%;
  margin-top: 1%;
  background: #62C6CA;
  border-color: transparent;
  
}

.tamano:hover {
  background: #FAB04A;
}



.posicion{
  margin-left: 15%;
  margin-right:10% ;
  z-index: -1;
}

.cardPosicion{
  margin-left: 2%;
  margin-top: 10px;
  background: #3c3c3c;
  color: white;
}

.margen{
  margin-left: 5%;
  width: full;
  background: #62C6CA; 
  border-color: transparent;
  color: black;
}

.margen:hover {
  background: #FAB04A;
}

