<app-nav-u></app-nav-u>
<div class="contenedor">

  <div class="margenes">
    <button type="button" class="btn btn-secondary" (click)="generarPdf()">Generar pdf</button>
    <table class="table table-light">

      <thead>
        <tr>
          <th scope="col">Dispositivo</th>
          <th scope="col">Consumo Mensual</th>
        </tr>
      </thead>

      <tbody *ngFor="let item of datosAMostrar">
        <tr>
          <td>{{item.tipo}}</td>
          <td>{{item.uso}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
