<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nuevo dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" id='form' (ngSubmit)="nuevoDispositivo()">


    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input [(ngModel)]="this.Descripcion" [ngModelOptions]="{standalone: true}" id='Descripcion'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select  [(ngModel)]="this.Tipo" [ngModelOptions]="{standalone: true}" id='Tipo'  interface="action-sheet">
      <ion-select-option *ngFor="let tipo of tipos">{{tipo.Nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-select  [(ngModel)]="this.Marca" [ngModelOptions]="{standalone: true}" id='Marca' interface="action-sheet">
        <ion-select-option  *ngFor="let dispositivo of dispositivosModelo">{{dispositivo.Marca}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Número de serie</ion-label>
      <ion-input [(ngModel)]="this.N_serie" type="number" [ngModelOptions]="{standalone: true}" id='N_serie'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Consumo</ion-label>
      <ion-input [(ngModel)]="this.Consumo" type="number" [ngModelOptions]="{standalone: true}" id='Consumo'></ion-input>
      <ion-label> mW</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Aposento</ion-label>
      <ion-select  [(ngModel)]="this.Aposento" [ngModelOptions]="{standalone: true}" id='Aposento' interface="action-sheet">
        <ion-select-option *ngFor="let aposento of aposentos">{{aposento.NombreCuarto}}</ion-select-option>
      </ion-select>

    </ion-item>
      <ion-button  id='round' size='full'type="submit" [disabled]="form.invalid" >Agregar</ion-button>
  </form>
</ion-content>
