<app-nav-u></app-nav-u>
<div class="contenedor">
  <div class="row ">
    <input class="fecha" type="month" name="fecha" #nuevoNombre="ngModel" [(ngModel)]="mesAux">
    <button type="submit" class="btn btn-primary boton" (click)="printAux()">Buscar</button>
  </div>
  <div class="margenes">

    <button type="button" class="btn btn-secondary" (click)="generarPdf()">Generar pdf</button>
    <table class="table table-light">
      <thead>
      <tr>
        <th scope="col">Numero de serie</th>
        <th scope="col">Modelo</th>
        <th scope="col">Consumo Mensual en KW</th>
      </tr>
      </thead>
      <tbody *ngFor="let item of listaAux">
        <tr>
          <td>{{item.datos.nSerie}}</td>
          <td>{{item.datos.modelo}}</td>
          <td>{{item.consumo}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
