.contenedor{
  margin-right: 20%;
  margin-left: 20%;
}

.fecha{
  width: 60%;
  margin-top: 20px;
}

.boton{
  margin-left: 5%;
  width: 10%;
  margin-top: 15px;
}

.margenes{
  margin-top: 20px;
}
