<app-nav></app-nav>


<div class="posicion ">

  <button class="btn  tamano"  data-bs-toggle="modal" data-bs-target="#agregarDistribuidor" >Agregar Distribuidor</button>
  <div class="row">
    <div class="col" *ngFor="let item of listaDistribuidores">
      <div class=" card cardPosicion" style="width: 18rem;" >
    <img src="{{item.imagen}}"  class="card-img-top" width="80%" height="60%">
    <div class="card-body">
      <h5 class="card-title">Cedular Juridica: {{item.cedulaJuridica}}</h5>
      <p class="card-text">Nombre del distribuidor {{item.nombre}}</p>
      <p class="card-text">Pais {{item.pais}}</p>
    </div>
    <div class="card-footer">
      <button class="btn  margen" data-bs-toggle="modal" data-bs-target="#editarDistribuidor" (click)="obtenerInformacionItem(item)">Editar</button>
      <button class="btn  margen" data-bs-toggle="modal" data-bs-target="#eliminarDispositivo" (click)="obtenerInformacionItem(item)">Eliminar</button>
    </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="agregarDistribuidor" tabindex="-1" aria-labelledby="agregarDispositivoDistribuidorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Nuevo Dispositvo:</h4>
      </div>
      <div class="modal-body">

        <label>URL-DE-IMAGEN</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" required="" name="imagen" #imagen="ngModel" [(ngModel)]="distribuidor.imagen">
        </div>

        <label>Cedula Juridica:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" required="" name="CJ" #cj="ngModel" [(ngModel)]="distribuidor.cedulaJuridica">
        </div>

        <label>Nombre del distribuidor</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" required="" name="nombre" #nombre="ngModel" [(ngModel)]="distribuidor.nombre">
        </div>

        <div class="tamano3">
          <label>Pais</label>
          <select class="form-select" id="validationCustom04" name="6" required #pais="ngModel" [(ngModel)]="distribuidor.pais">
            <optgroup label="América">
              <option>Costa Rica</option>
              <option>Panamá</option>
              <option>Colombia</option>
              <option>Argentina</option>
              <option>Mexico</option>
            </optgroup>
            <optgroup label="Europa">
              <option>España</option>
              <option>Italia</option>
            </optgroup>
          </select>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="crearDistribuidor(distribuidor)">ACEPTAR</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editarDistribuidor" tabindex="-1" aria-labelledby="editarDispositivoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <label>Cedula Juridica:{{distribuidor.cedulaJuridica}}</label>
      </div>
      <div class="modal-body">

        <label>URL-IMAGEN:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control"required="" name="imagen" #imagen="ngModel" [(ngModel)]="distribuidor.imagen">
        </div>

        <label>Nombre</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" required="" name="nombre" #nombre="ngModel" [(ngModel)]="distribuidor.nombre">
        </div>

        <div class="tamano3">
          <label>Pais</label>
          <select class="form-select" id="validationCustom" name="6" required #pais="ngModel" [(ngModel)]="distribuidor.pais">
            <option *ngFor="let item of listaDeRegiones">{{item.pais}}</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="editarDistribuido(distribuidor)">ACEPTAR</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eliminarDispositivo" tabindex="-1" aria-labelledby="agregarDispositivoDispositivoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Esta seguro que desea eliminar el Distribuidor,{{distribuidor.nombre}},{{distribuidor.cedulaJuridica}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminarDistribuidor(distribuidor)">ACEPTAR</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>
