.contenedor{
  margin-right: 20%;
  margin-left: 20%;

}
label{
  margin-left: 5%;
}
.color{
  color: white;
 }
.fecha{
  width: 20%;
  margin-top: 20px;
  margin-left: 2%;
}

.boton{
  margin-left: 5%;
  width: 15%;
  margin-top: 5px;

}

.margenes{
  margin-top: 20px;
}
