<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi casa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide *ngFor="let aposento of misAposentos" (click)=presentModal(aposento)>
      <div id='mySlide'>
        <img id='icon' src='\assets\rooms\SVG\living_room.svg'>
        <p>{{aposento.nombreCuarto}}</p>
      </div>
    </ion-slide>
    <ion-slide (click)=NuevaHabitacion()>
      <div id='mySlide'>
        <img id='icon' src='\assets\rooms\SVG\other_room.svg'>
        <p>Nuevo</p>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-title>Mis dispositivos</ion-title>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Jala para refrescar"
      refreshingSpinner="circles"
      refreshingText="Refrescando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-card  *ngFor="let dispositivo of dispositivosMios" >
          
          <img src={{dispositivo.imagen}} (click)="showInfoDispositivo(dispositivo)">
          <ion-card-content>
            <p class='name'>{{dispositivo.modelo}}</p>
            <p class='spec'>{{dispositivo.consumoElectrico}} mW</p>
            <p class='spec'>{{dispositivo.marca}}</p>
            <p class='room'>{{dispositivo.tipo}}</p>
            <ion-select interface="action-sheet"  (ionChange)="(updateAposentoDeDispositivo($event,dispositivo))" placeholder='Tu habitación' okText="Listo" cancelText="Me arrepentí">
              <ion-select-option *ngFor="let aposento of this.misAposentos"  value={{aposento.id}}>{{aposento.nombreCuarto}}</ion-select-option>
            </ion-select>
            <!-- <ion-toggle (ionChange)="prenderApagar($event, dispositivo)" value='{{dispositivo.prendido}}'></ion-toggle> -->
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>