.posicion{
  margin-left: 15%;
  margin-right:10% ;
  z-index: -1;
}


.tamano2{
  width: 82%;
  margin-top: 20px;
  margin-left: 3%;
}
.tamano{
  width: 100%;
  margin-left: 1%;
  margin-top: 1%;
  background: #62C6CA;
  border-color: transparent;

}

.tamano:hover {
  background: #FAB04A;
}

.cardPosicion{
  width: 25%;
  margin-left: 2%;
  margin-top: 10px;
  background: #3c3c3c;
  color: white;
}

.botones{
  background: #62C6CA;
  margin-top: 1%;
  margin-left: 1%;
  border-color: transparent;
  color: black;

}
.color{
  margin-top: 20px;
  color: white;
}
.container{
  margin-top: 10px;
}
.botonGuadar{
  background: #FAB04A;
  margin-top: 20px;
  height: 25%;
}
.botones:hover{
  background: #FAB04A;
}
.modal{
  background: #3c3c3c;
}
