<app-nav></app-nav>

<div class="posicion">
  
  <div class="row">

    <div class="chart">
        <google-chart [title]="chart.title" [type]="chart.type" [data]="chart.data" [columns]="chart.columnNames"
            [options]="chart.options">
        </google-chart>
    </div>
    <div class="chart">
        <google-chart [title]="chart2.title" [type]="chart2.type" [data]="chart2.data" 
            [options]="chart2.options">
        </google-chart>
    </div>
    

    <div class="contenedor2">
      <input class="fecha" type="date">
      <button type="submit" class="btn btn-primary boton">Buscar</button>
      <div class="margenes">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Dispositivo</th>
            <th scope="col">Consumo Mensual</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>DISPOSITIVO</td>
            <td>HORAS</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>

    <div class='valores'>
        
    </div>

</div>