<div class="card text-center container color bordes">
  <div class="card-header color">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid color">
        <a class="navbar-brand h1">
          <img src="assets/Asset_4.svg" width="25" height="25" class="d-inline-block align-top" alt="">SmartHome TEC
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link btn h2" (click)="chageAdmin()">Administrador</a>
            <a class="nav-link btn h2" (click)="chageUser()">Usuario</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="card-body color" *ngIf="loginType()">
    <h5 class="card-title">Ingresar como Administrador</h5>
    <form>
      <div class="row">
        <label>Correo Electronico:</label>
        <input type="email" name="email" class="email_From tamano" id="InputEmail1" #Correo="ngModel"
               [(ngModel)]="administrador.correo" placeholder="Correo Electronico" aria-label="CorreoElectronico">
      </div>
      <label>Password:</label>
      <div class="row">
        <input type="password" name="password" class="pasword_Emanil tamano" id="InputPassword" #contrasena="ngModel"
               [(ngModel)]="administrador.contrasena" placeholder="Contraseña" aria-label="contraseña">
      </div>
      <div class="row" class="button">
        <button type="submit" class="btn btn-primary" (click)="navegation()">Ingresar</button>
      </div>
    </form>
  </div>
  <div class="card-body" *ngIf="!loginType()">
    <h5 class="card-title">Ingresar como Usuario</h5>
    <form>
      <div class="row">
        <label>Correo Electronico:</label>
        <input type="email" name="email" class="email_From tamano" id="InputEmail1Usuario" placeholder="Correo Electronico"
               #Correo="ngModel" [(ngModel)]="cliente.email" aria-label="CorreoElectronico" required="">
      </div>
      <label>Password:</label>
      <div class="row">
        <input type="password" name="password" class="pasword_Emanil tamano" id="InputPasswordUsuario" placeholder="Contraseña"
               #contrasena="ngModel" [(ngModel)]="cliente.contrasena" aria-label="contraseña" required="">
      </div>
      <div class="row" class="button">
        <button type="submit" class="btn btn-primary" (click)="navegation()">Ingresar</button>
      </div>
      <ul class="nav centrar">
        <li class="nav-item">
          <a class="nav-link " data-bs-toggle="modal" data-bs-target="#exampleModal">Registrase</a>
        </li>
      </ul>
    </form>
  </div>
</div>
<!-- Modal -->

<div class="fade modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="row">

        <div class="tamano3">
          <label>Correo electronico:</label>
          <input type="email" class="form-control" name="1"  required="" #correo="ngModel" [(ngModel)]="cliente.email">
        </div>

        <div class="tamano3">
          <label>Password</label>
          <input type="password" class="form-control"  name="2"  required="" #password="ngModel" [(ngModel)]="cliente.contrasena">
        </div>

        <div class="tamano2">
          <label>Nombre:</label>
          <input type="text" class="form-control" name="3"  required="" #nombre="ngModel" [(ngModel)]="cliente.nombre">
        </div>

        <div class="tamano4">
          <label>Primer Apellido:</label>
          <input type="text" class="form-control" name="4" required="" #primerApellido="ngModel" [(ngModel)]="cliente.primerApellido">
        </div>
        <div class="tamano4">
          <label>Segundo Apellido:</label>
          <input type="text" class="form-control" name="5" required="" #segundoApellido="ngModel" [(ngModel)]="cliente.segundoApellido">
        </div>

        <div class="tamano3">
          <label>Cedula:</label>
          <input type="email" class="form-control" name="8"  required="" #cedula="ngModel" [(ngModel)]="cliente.id">
        </div>

        <div class="tamano3">
          <label>Pais</label>
          <select class="form-select" id="validationCustom04" name="6" required #pais="ngModel" [(ngModel)]="cliente.pais">
            <optgroup label="">
              <option *ngFor="let item of listaDeRegiones">{{item.pais}}</option>
            </optgroup>
          </select>
        </div>

      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" name="7"  data-bs-dismiss="modal" (click)="crearCliente(cliente)">Aceptar</button>
      </div>
    </div>
  </div>
</div>
