<nav class="navbar navbar-light bg-light">
  <button class="navbar-brand btn" (click)="activeNavVertical()">
    <img src="assets/Asset_4.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    <b>Smart Home TEC</b>
  </button>
</nav>

<div class="navVertical" *ngIf="navVerticalActive">
  <ul>
    <div class="Margnes">Informacion del Administrador</div>
    <li>
      <a class="Margnes" (click)="navegation('informacionDispositivos')">Agregar Informacion de los dispositivos</a>
    </li>
    <li>
      <a class="Margnes" (click)="navegation('gestionDeTiposDeDispositivos')">Gestion de tipos de dispositivos</a>
    </li>
    <li>
      <a class="Margnes" (click)="navegation('gestionDeDistribuidores')">Gestion de Distribuidores</a>
    </li>
    <li>
      <a class="Margnes" (click)="navegation('gestionDeTiendaEnLineaYDistribuidores')">Gestion de Tienda en linea y Distribuidores</a>
    </li>
    <li>
      <a class="Margnes" (click)="navegation('Dashboard')">Dashboard</a>
    </li>

  </ul>
</div>
<router-outlet></router-outlet>
