<app-nav-u></app-nav-u>

<div class="posicion ">

  <form class="row g-3">
    <div class="col-auto largo">
      <input class="form-control" type="text" placeholder="Buscar Nombre de Articulo" aria-label="default input example">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Buscar</button>
    </div>
  </form>

  <div class="card cardPosicion" style="width: 18rem;" *ngFor="let item of dispositivos">
    <img src="{{item.dispositivoModelo.imagen}}"
         class="card-img-top" width="100%" height="100%">
    <div class="card-body">
      <h5 class="card-title">Nombre del Articulo {{item.dispositivoModelo.modelo}}</h5>
      <p class="card-text">Tipo de atriculo {{item.dispositivoModelo.tipo}}</p>
      <p class="card-text">Consumo del dipositivo {{item.dispositivoModelo.consumoElectrico}}</p>
      <p class="card-text">Precio {{item.dispositivoSeVendeEn.precio}}</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger margen" data-bs-toggle="modal" data-bs-target="#eliminarDispositivo">Comprar</button>
    </div>
  </div>
</div>



