<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)=dismiss()>
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>X habitación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)=presentActionSheet()>
    <ion-fab-button>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card *ngFor="let card of [0,1,2,3,4,5,6]">
    <img src='https://cdn.shopify.com/s/files/1/2393/8647/products/5AT1S3-WEN0.jpg?v=1606809887'>
    <ion-card-content>
      <p class='name'>Bombillo</p>
      <p class='spec'>20mW</p>
      <p class='spec'>#Serie 2129312</p>
      <ion-item>
        <ion-label>Habitación</ion-label>
        <ion-select interface="action-sheet" placeholder='Tu habitación' okText="Listo" cancelText="Me arrepentí">
          <ion-select-option *ngFor="let card of [0,1,2,3,4,5,6]" value={{card}}>Sala {{card}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>