.container{
  margin-top: 10px;
}
.btn{
  color: white;
  background: black;
  width: 80px;
}
.btn2{
  background: darkslategray;
  border-collapse: collapse;

}

.btn:hover{
  background: grey;
}

.table{
  width: 80%;
  margin-top: 10%;
  border-collapse: collapse;
}

.modal{
  background: #212121;
}
.color{
  color: black;
}

.tamano7{
  width: 110%;
}
