<app-nav></app-nav>

<div class="posicion ">

  <button class="btn  tamano"  data-bs-toggle="modal" data-bs-target="#agregarTipoDeDispositivo" >Agregar Tipo De Dispositivo</button>

  <div class="row">
    <div class="card cardPosicion" *ngFor="let item of listaDeTipos">
      <img src="{{item.imagen}}"
           class="card-img-top" width="100%" height="100%">
      <div class="card-body">
        <h5 class="card-title margen" >{{item.nombre}}</h5>
        <div>
          <label class="margen">Descripcion del Dispositivo: {{item.descripcion}}</label>
        </div>

        <div>
          <label class="margen">Tiempos de Garantia {{item.tiempoDeGarantia}} meses</label>
        </div>

        <button class="btn  botones" data-bs-toggle="modal" data-bs-target="#verDispositivos">Dispositivos</button>
        <button class="btn  botones" data-bs-toggle="modal" data-bs-target="#editarTipoDispositivo">Editar</button>
        <button class="btn  botones" data-bs-toggle="modal" data-bs-target="#eliminarTipoDispositivo">Eliminar</button>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="card cardPosicion" style="width: 18rem;">
      <img src="http://cdn2.dineroenimagen.com/media/dinero/styles/xlarge/public/images/2018/10/util-e-interesante-nokia-3310-podria-volver-n265510-624x352-344584.jpg"
           class="card-img-top" width="100" height="100">
      <div class="card-body">
        <h5 class="card-title">Nombres del Dispositivo</h5>
        <b>Descripción:</b>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small>Tiempo de Garantia</small></p>
        <button class="btn btn-dark botones" data-bs-toggle="modal" data-bs-target="#editarDispositivo">Editar Dipositivo</button>
        <button class="btn btn-dark botones" data-bs-toggle="modal" data-bs-target="#asociarDispositivos">Asociar Dispositivo</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="agregarTipoDeDispositivo" tabindex="-1" aria-labelledby="agregarTipoDeDispositivoLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-xl-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarTipoDeDispositivoLabel">Agregar Dispositivo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>URL-DE-IMAGEN</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control"required="" name="imagen" #imagen="ngModel" [(ngModel)]="tipo.imagen">
        </div>

        <label>Tipo de dipositvo:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" required="" name="tipo" #tipoN="ngModel" [(ngModel)]="tipo.nombre">
        </div>
        <label>Descripcion:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" required="" name="descripcion" #descripcion="ngModel" [(ngModel)]="tipo.descripcion">
        </div>

        <label>Tiempo de garantia:</label>
        <div class="input-group mb-3">
          <span class="input-group-text">Meses:</span>
          <input type="number" class="form-control" required="" name="tiempoG" #tiempoG="ngModel" [(ngModel)]="tipo.descripcion">
        </div>
  </div>
      <div class="modal-footer">
        <button type="button " class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="crearDipositivo(tipo)">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="verDispositivos" tabindex="-1" aria-labelledby="verDispositivosLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content color">
      <div class="modal-header color">
        <h5 class="modal-title" id="verDispositivosLabel">Tipo de dispositivo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row">

          <div class="card cardPosicion" style="width: 18rem;">
            <img src="http://cdn2.dineroenimagen.com/media/dinero/styles/xlarge/public/images/2018/10/util-e-interesante-nokia-3310-podria-volver-n265510-624x352-344584.jpg"
               class="card-img-top" width="100" height="100">
            <div class="card-body">
              <h5 class="card-title">Nombres del Dispositivo</h5>
              <b>Descripción:</b>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small>Tiempo de Garantia</small></p>
              <button class="btn btn-dark botones" data-bs-toggle="modal" data-bs-target="#editarDispositivo">Editar Dipositivo</button>
              <button class="btn btn-dark botones" data-bs-toggle="modal" data-bs-target="#">Desligar Dispositivo</button>
            </div>
          </div>

          <div class="card cardPosicion" style="width: 18rem;">
            <img src="http://cdn2.dineroenimagen.com/media/dinero/styles/xlarge/public/images/2018/10/util-e-interesante-nokia-3310-podria-volver-n265510-624x352-344584.jpg"
                 class="card-img-top" width="100" height="100">
            <div class="card-body">
              <h5 class="card-title">Nombres del Dispositivo</h5>
              <b>Descripción:</b>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small>Tiempo de Garantia</small></p>
              <button class="btn btn-dark botones" data-bs-toggle="modal" data-bs-target="#editarDispositivo">Editar Dipositivo</button>
              <button class="btn btn-dark botones" data-bs-toggle="modal" data-bs-target="#">Desligar Dispositivo</button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eliminarTipoDispositivo" tabindex="-1" aria-labelledby="eliminarTipoDispositivoLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-xl-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarTipoDispositivoLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        El dispositivo ha sido eliminado
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="asociarDispositivos" tabindex="-1" aria-labelledby="asociarDispositivosLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-xl-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="asociarDispositivosLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Tipo al que desea asciarar el dispositivo:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control"required="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editarDispositivo" tabindex="-1" aria-labelledby="agregarDispositivoDispositivoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Nuevo Dispositvo:</h4>
      </div>
      <div class="modal-body">


        <label>Nombre del dispositivo:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control"required="">
        </div>

        <label>Descripcion del dispositivo</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control"required="">
        </div>

        <label>Tiempo de Garantia: </label>
        <div class="input-group mb-3">
          <span class="input-group-text">Meses</span>
          <input type="number" class="form-control" required="">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ACEPTAR</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>
