.tamano{
  width: 20%;
  margin-left: 85%;
  margin-top: 1%;
  background: #62C6CA;
  border-color: transparent;
  
}

.tamano:hover {
  background: #FAB04A;
}

.posicion{
  margin-left: 15%;
  margin-right:5% ;
  z-index: -1;
}

.cardPosicion{
  width: 25%;
  margin-left: 2%;
  margin-top: 10px;
  background: #3c3c3c;
  color: white;
}

/* .cardPosicion2{
  margin-left: 4%;
  margin-top: 40px;
} */


.margen{
  margin: 5%;
}
.botones{
  background: #62C6CA;
  margin-top: 1%;
  margin-left: 1%;
  border-color: transparent;
  color: black;

}

.botones:hover{
  background: #FAB04A;
}

